<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="MoreLinq.Source.MoreEnumerable.MaxBy" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="MoreLinq.Source.MoreEnumerable.MinBy" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="Pbkdf2" version="1.2.0" targetFramework="net48" />
</packages>